<header class="header-container">
  <div class="logo-container">
    <img src="/assets/markt-logo.svg" alt="Markt logo" />
  </div>

  <div class="search-container">
    <div class="search-box">
      <img
        src="/assets/search-icon.svg"
        alt="Search icon"
        class="search-icon"
      />
      <input type="search" placeholder="SEARCH" class="search-input" />
    </div>
  </div>

  <div class="actions-container">
    <div><img src="/assets/message-icon.svg" alt="Message icon" /></div>
    <div><img src="/assets/cart-icon.svg" alt="Cart icon" /></div>
    <div><img src="/assets/profile-image.svg" alt="Profile icon" /></div>
  </div>

  <div class="seller-button-container">
    <button class="seller-button">BECOME A SELLER</button>
  </div>
</header>
