<section class="signup-container pt-8 flex items-center">
  <!-- Image Section -->
  <div class="image-section w-1-2 flex justify-center items-center">
    <img
      *ngIf="currentStep === 1"
      src="/assets/auth-side-image.svg"
      alt="Welcome cart image"
      class="h-80"
    />
    <img
      *ngIf="currentStep === 2"
      src="/assets/auth-side-image.svg"
      alt="Personal Information"
      class="h-80"
    />
    <img
      *ngIf="currentStep === 3"
      src="/assets/auth-side-image.svg"
      alt="Location"
      class="h-80"
    />
    <img
      *ngIf="currentStep === 4"
      src="/assets/auth-side-image.svg"
      alt="Payment Details"
      class="h-80"
    />
  </div>

  <!--  Form Section -->
  <div class="form-wrapper flex flex-col w-1-2 justify-center">
    <h1 class="font-medium text-2xl mb-4">Create an account</h1>

    <form [formGroup]="signupForm" (ngSubmit)="onCreateAccount()">
      <!-- Step 1: Welcome Page -->
      <div *ngIf="currentStep === 1" class="step">
        <div class="account-type flex justify-center pt-4">
          <div class="flex gap-8 mt-2">
            <label class="flex items-center">
              <input
                type="radio"
                name="accountType"
                value="buyer"
                formControlName="accountType"
                class="radio-input"
              />
              <span class="ml-2">Buyer Account</span>
            </label>
            <label class="flex items-center">
              <input
                type="radio"
                name="accountType"
                value="seller"
                formControlName="accountType"
                class="radio-input"
              />
              <span class="ml-2">Seller Account</span>
            </label>
          </div>
        </div>

        <div>
          <input
            type="text"
            placeholder="{{
              accountType.value === 'buyer' ? 'Buyer Name' : 'Seller Name'
            }}"
            formControlName="name"
            class="input-field mt-4"
            name="name"
          />
          @if(name.invalid && (name.dirty || name.touched)){
          <div class="error-message">
            @if(name.hasError('required')){
            <div>Name is required</div>
            } @if(name.hasError('minlength')){
            <div>Name must be at least 3 characters</div>
            }
          </div>
          }
        </div>
        <div>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            class="input-field mt-4"
            name="password"
          />
          @if(password.invalid && (password.dirty || password.touched)){
          <div class="error-message">
            @if(password.hasError('required')){
            <div>Password is required</div>
            } @if(password.hasError('minlength')){
            <div>Minimum password length is 6</div>
            }
          </div>
          }
        </div>
        <div>
          <input
            type="password"
            placeholder="Re-enter Password"
            formControlName="confirmPassword"
            class="input-field mt-4"
            name="confirmPassword"
          />
          @if(signupForm.hasError('passwordsMismatch') && (confirmPassword.dirty
          || confirmPassword.touched)){
          <div class="error-message">
            @if(confirmPassword.hasError('required')){
            <div>You must re-enter your password</div>
            } @if(signupForm.hasError('passwordsMismatch')){
            <div>Must be the same as the password you entered above</div>
            }
          </div>
          }
        </div>
      </div>

      <!-- Step 2: Personal Information -->
      <div *ngIf="currentStep === 2" class="step">
        <div>
          <input
            type="text"
            placeholder="@username"
            formControlName="username"
            class="input-field mt-4"
            name="username"
          />
          @if(username.invalid && (username.dirty || username.touched)){
          <div class="error-message">
            @if(username.hasError('required')){
            <div>Username is required</div>
            }@if(username.hasError('pattern')){
            <div>
              Username must start with {{ "@" }} and can only contain letters,
              numbers, underscores, or dots.
            </div>
            }
          </div>
          }
        </div>
        <div>
          <input
            type="email"
            placeholder="Email"
            formControlName="email"
            class="input-field mt-4"
            name="email"
          />
          @if(email.invalid && (email.dirty || email.touched)){
          <div class="error-message">
            @if(email.hasError('required')){
            <div>Email is required</div>
            }@if(email.hasError('email')){
            <div>Enter a valid email</div>
            }
          </div>
          }
        </div>
        <div>
          <input
            type="text"
            placeholder="Phone Number"
            formControlName="phone"
            class="input-field mt-4"
            name="phoneNumber"
          />
          @if(phone.invalid && (phone.dirty || phone.touched)){
          <div class="error-message">
            @if(phone.hasError('required')){
            <div>Phone number is required</div>
            }@if(phone.hasError('pattern')){
            <div>Enter a valid phone number (e.g. 09157935312)</div>
            }
          </div>
          }
        </div>
        @if(accountType.value==='seller'){
        <div>
          <input
            type="text"
            placeholder="Directions to the shop"
            formControlName="shopDirections"
            class="input-field mt-4"
            name="shopDirections"
          />
        </div>
        <div>
          <input
            type="text"
            placeholder="Shop Category"
            formControlName="shopCategory"
            class="input-field mt-4"
            name="shopCategory"
          />
        </div>
        <div>
          <textarea
            placeholder="Shop Description"
            formControlName="shopDescription"
            class="input-field mt-4"
            name="shopDescription"
          ></textarea>
        </div>
        }
      </div>

      <!-- Step 3: Location -->
      <div *ngIf="currentStep === 3" class="step">
        <div>
          <input
            type="text"
            placeholder="House Number"
            formControlName="houseNumber"
            class="input-field mt-4"
            name="houseNumber"
          />
        </div>
        <div>
          <input
            type="text"
            placeholder="Street"
            formControlName="street"
            class="input-field mt-4"
            name="street"
          />
        </div>
        <div>
          <input
            type="text"
            placeholder="City"
            formControlName="city"
            class="input-field mt-4"
            name="city"
          />
        </div>
        <div>
          <button
            type="button"
            class="location-btn mt-8 rounded cursor-pointer"
            (click)="useCurrentLocation()"
          >
            Use Current Location
          </button>
        </div>
      </div>

      <!-- Step 4: Payment Details -->
      <div *ngIf="currentStep === 4" class="step">
        <div>
          <input
            type="text"
            placeholder="Card Number"
            class="input-field mt-4"
            formControlName="cardNumber"
            name="cardNumber"
          />
          @if(cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)){
          <div class="error-message">
            @if(cardNumber.hasError('required')){
            <div>Card number is required</div>
            } @if(cardNumber.hasError('pattern')){
            <div>Enter a valid card number</div>
            }
          </div>
          }
        </div>
        <div>
          <input
            type="text"
            placeholder="Card Expiry (MM/YY)"
            class="input-field mt-4"
            formControlName="cardExpiry"
            name="cardExpiry"
          />
          @if(cardExpiry.invalid && (cardExpiry.dirty || cardExpiry.touched)){
          <div class="error-message">
            @if(cardExpiry.hasError('required')){
            <div>Card expiry date is required</div>
            } @if(cardExpiry.hasError('pattern')){
            <div>Enter a valid expiry date (MM/YY)</div>
            }
          </div>
          }
        </div>
        <div>
          <input
            type="text"
            placeholder="CVV"
            class="input-field mt-4"
            formControlName="cvv"
            name="cvv"
          />
          @if(cvv.invalid && (cvv.dirty || cvv.touched)){
          <div class="error-message">
            @if(cvv.hasError('required')){
            <div>CVV is required</div>
            } @if(cvv.hasError('pattern')){
            <div>Enter a valid 3-digit CVV</div>
            }
          </div>
          }
        </div>
      </div>

      <!-- Navigation Buttons -->
      <div class="mt-8 flex step-btn-grp">
        <div class="gap-8 flex items-center justify-center">
          <button
            type="button"
            class="back-btn buttons rounded text-center p-2 cursor-pointer"
            (click)="previousStep()"
            *ngIf="currentStep > 1"
          >
            Back
          </button>
          <button
            type="button"
            class="next-btn buttons text-center bg-primary text-white rounded cursor-pointer"
            (click)="nextStep()"
            *ngIf="currentStep < 4"
            [disabled]="!isStepValid(currentStep)"
          >
            Next
          </button>
        </div>
        <div>
          <button
            type="submit"
            class="btn-primary create-account-btn rounded mt-4"
            *ngIf="currentStep === 4"
            [disabled]="signupForm.invalid"
          >
            Create Account
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
