<app-header></app-header>

<header>
  <!-- Breadcrumb -->
  <nav class="md:px-[4rem] p-[2rem] md:pt-[4rem] md:pb-[2rem] flex justify-between" aria-label="Breadcrumb">
       <ol class="inline-flex items-center mb-3 sm:mb-0">
            <li>
                 <a href="/" class="text-gray-400 hover:text-gray-500">Home</a>
            </li>
            <span class="mx-2 text-gray-400">/</span>
            <li aria-current="page">
                 <a class="text-gray-900 hover:text-gray-500">404 Error</a>
            </li>
       </ol>
  </nav>

  <div class="container h-[60vh] flex-col justify-center items-center space-y-5 text-center">
       <h1 class="md:text-9xl text-6xl font-bold">404 <br class="block md:hidden"> Not Found</h1>
       <p class="text-lg font-light py-5">Your visited page not found. You may go home page.</p>
       <a href="/" class="bg-secRed px-10 py-3 rounded text-secWhite text-sm">Back to home page</a>
  </div>

</header>

<app-footer></app-footer>