<app-header></app-header>
<div class="hero-section">
  <div class="category-lists ml-16 pt-4">
    <ul class="mr-4 flex flex-col gap-4">
      <li>
        <a href="" class="flex justify-between items-center"
          ><span>Woman’s Fashion</span>
          <span
            ><img src="/assets/small-next-btn.svg" alt="go to button" /></span
        ></a>
      </li>
      <li>
        <a href="" class="flex justify-between items-center">
          <span> Men’s Fashion </span>
          <span
            ><img src="/assets/small-next-btn.svg" alt="go to button" /></span
        ></a>
      </li>
      <li><a href="">Electronics</a></li>
      <li><a href="">Home & Lifestyle</a></li>
      <li><a href="">Medicine</a></li>
      <li><a href="">Sports & Outdoor</a></li>
      <li><a href="">Baby's & Toys</a></li>
      <li><a href="">Groceries & Pets</a></li>
      <li><a href="">Health & Beauty</a></li>
    </ul>
  </div>
  <div class="hero-banner-wrapper ml-16 mt-4">
    <img src="/assets/marketplace-main-banner.png" alt="main banner" />
  </div>
</div>
