<app-header></app-header>
<!-- HERO SECTION -->
<div class="hero">
  <div class="categories ml-16 pt-4">
    <ul class="category-list mr-4 flex flex-col gap-4">
      <li>
        <a href="" class="category-link flex justify-between items-center">
          <span>Woman’s Fashion</span>
          <span
            ><img src="/assets/small-next-btn.svg" alt="go to button"
          /></span>
        </a>
      </li>
      <li>
        <a href="" class="category-link flex justify-between items-center">
          <span>Men’s Fashion</span>
          <span
            ><img src="/assets/small-next-btn.svg" alt="go to button"
          /></span>
        </a>
      </li>
      <li><a href="" class="category-link">Electronics</a></li>
      <li><a href="" class="category-link">Home & Lifestyle</a></li>
      <li><a href="" class="category-link">Medicine</a></li>
      <li><a href="" class="category-link">Sports & Outdoor</a></li>
      <li><a href="" class="category-link">Baby's & Toys</a></li>
      <li><a href="" class="category-link">Groceries & Pets</a></li>
      <li><a href="" class="category-link">Health & Beauty</a></li>
    </ul>
  </div>
  <div class="hero-banner ml-16 mt-4">
    <img src="/assets/marketplace-main-banner.png" alt="main banner" />
  </div>
</div>

<!-- FLASH SALES SECTION -->
<section class="section ml-16 mt-16 mr-16">
  <div class="section-header flex gap-4 items-center">
    <span><img src="/assets/Rectangle 17.svg" alt="" /></span>
    <h6 class="section-title text-lg">Today's</h6>
  </div>
  <div class="section-content mt-8 mb-16">
    <div class="section-info flex">
      <h5 class="section-heading text-4xl">Flash Sales</h5>
      <app-flash-sale-timer></app-flash-sale-timer>
    </div>
    <div class="section-navigation gap-2">
      <img
        src="/assets/Fill With Left Arrow.svg"
        class="cursor-pointer"
        alt="left arrow"
      />
      <img
        src="/assets/Fill with Right Arrow.svg"
        class="cursor-pointer"
        alt="right arrow"
      />
    </div>
  </div>
  <div class="products flex justify-between mb-16">
    <app-product-list-item
      imgSrc="sam-moghadam-khamseh-kvmdsTrGOBM-unsplash 1.png"
      productName="S-Series Comfort Chair"
      [discountedPrice]="375"
      [originalPrice]="400"
      ratingValue="99"
    ></app-product-list-item>
    <app-product-list-item
      imgSrc="g27cq4-500x500 1.png"
      productName="IPS LCD Gaming Monitor"
      [discountedPrice]="370"
      [originalPrice]="400"
      ratingValue="99"
    ></app-product-list-item>
    <app-product-list-item
      imgSrc="ak-900-01-500x500 1.png"
      productName="AK-900 Wired Keyboard"
      [discountedPrice]="960"
      [originalPrice]="1160"
      ratingValue="75"
    ></app-product-list-item>
    <app-product-list-item
      imgSrc="g92-2-500x500 1.png"
      productName="HAVIT HV-G92 Gamepad"
      [discountedPrice]="120"
      [originalPrice]="160"
      ratingValue="88"
    ></app-product-list-item>
  </div>
  <div class="view-all flex items-center justify-center mb-16">
    <button class="view-all-btn text-sm cursor-pointer rounded">
      View All Products
    </button>
  </div>
</section>

<!-- CATEGORIES SECTION -->
<section class="section ml-16 mt-16 mr-16">
  <div class="section-header flex gap-4 items-center">
    <span><img src="/assets/Rectangle 17.svg" alt="" /></span>
    <h6 class="section-title text-lg">Categories</h6>
  </div>
  <div class="section-content mt-8 mb-16">
    <div class="section-info">
      <h5 class="section-heading text-4xl">Browse By Category</h5>
    </div>
    <div class="section-navigation gap-2">
      <img
        src="/assets/Fill With Left Arrow.svg"
        class="cursor-pointer"
        alt="left arrow"
      />
      <img
        src="/assets/Fill with Right Arrow.svg"
        class="cursor-pointer"
        alt="right arrow"
      />
    </div>
  </div>

  <div class="flex justify-between mb-16">
    @for(category of categories; track category){
    <app-category-list-item [categoryName]="category"></app-category-list-item>
    }
  </div>
</section>

<!-- BEST SELLING SECTION -->
<section class="section ml-16 mt-16 mr-16">
  <div class="section-header flex gap-4 items-center">
    <span><img src="/assets/Rectangle 17.svg" alt="" /></span>
    <h6 class="section-title text-lg">This Month</h6>
  </div>
  <div class="section-content mt-8 mb-16">
    <div class="section-info">
      <h5 class="section-heading text-4xl">Best Selling Products</h5>
    </div>
    <div class="section-navigation flex">
      <button class="view-all-btn text-sm cursor-pointer rounded">
        View All
      </button>
    </div>
  </div>
  <div class="products flex justify-between mb-16">
    <app-product-list-item
      imgSrc="672462_ZAH9D_5626_002_100_0000_Light-The-North-Face-x-Gucci-coat 1.png"
      productName="The north coat"
      [discountedPrice]="260"
      [originalPrice]="360"
      ratingValue="99"
    ></app-product-list-item>
    <app-product-list-item
      imgSrc="547953_9C2ST_8746_001_082_0000_Light-Gucci-Savoy-medium-duffle-bag 1.png"
      productName="Gucci duffle bag"
      [discountedPrice]="960"
      [originalPrice]="1160"
      ratingValue="123"
    ></app-product-list-item>
    <app-product-list-item
      imgSrc="gammaxx-l240-argb-1-500x500 1.png"
      productName="RGB liquid CPU Cooler"
      [discountedPrice]="160"
      [originalPrice]="170"
      ratingValue="45"
    ></app-product-list-item>
    <app-product-list-item
      imgSrc="sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1.png"
      productName="Small BookSelf"
      [discountedPrice]="360"
      [originalPrice]="400"
      ratingValue="65"
    ></app-product-list-item>
  </div>
</section>

<!-- MUSIC EXPERIENCE SECTION -->
<div class="music-experience-banner ml-16 mt-16 mr-16 mb-16">
  <div class="">
    <p>Categories</p>
    <h3 class="text-white text-5xl mt-4">Enhance Your Music Experience</h3>
    <!--  -->
    <div class="timer-container mt-8 mb-8">
      <div class="time-section">
        <span class="time-value">{{ days }}</span>
        <span class="time-label">Days</span>
      </div>
      <div class="time-section">
        <span class="time-value">{{ hours }}</span>
        <span class="time-label">Hours</span>
      </div>
      <div class="time-section">
        <span class="time-value">{{ minutes }}</span>
        <span class="time-label">Minutes</span>
      </div>
      <div class="time-section">
        <span class="time-value">{{ seconds }}</span>
        <span class="time-label">Seconds</span>
      </div>
    </div>
    <!--  -->
    <div>
      <button class="buy-now-btn text-white text-sm cursor-pointer rounded">
        Buy Now!
      </button>
    </div>
  </div>
  <div>
    <img src="/assets/JBL speaker Frame .svg" alt="speaker jbl" />
  </div>
</div>
<app-footer></app-footer>
