<app-header></app-header>
<div class="wrapper" data-aos="fade-up">
  <div class="breadcrumb" data-aos="fade-up">
    <div>
      <span class="text-gray-500">Home / </span>
      <span class="font-bold">My Account</span>
    </div>
    <p data-aos="fade-up">Welcome! <span class="username">Md Rimel</span></p>
  </div>

  <div class="grid__section">
    <div class="left__column" data-aos="fade-up">
      <div class="main__menu">
        <p>Manage My Account</p>
        <div class="sub__menus">
          <a class="menu active" data-aos="fade-up">My Profile</a>
          <a class="menu" data-aos="fade-up">Address Book</a>
          <a class="menu" data-aos="fade-up">My Payment Options</a>
        </div>
      </div>
      <div class="main__menu">
        <p>My Orders</p>
        <div class="sub__menus">
          <a class="menu" data-aos="fade-up">My Returns</a>
          <a class="menu" data-aos="fade-up">My Cancellations</a>
        </div>
      </div>
    </div>

    <div class="right__column" data-aos="fade-up">
      <h3>Edit Your Profile</h3>
      <form>
        <div class="name__column">
          <div data-aos="fade-up">
            <label for="first__name">First Name</label>
            <input
              type="text"
              class="type1__input"
              value="MD"
              name="first__name"
            />
          </div>
          <div data-aos="fade-up">
            <label for="last__name">Last Name</label>
            <input
              type="text"
              class="type1__input"
              value="Rimel"
              name="last__name"
            />
          </div>
        </div>

        <div class="email__and__address">
          <div data-aos="fade-up">
            <label for="email">Email</label>
            <input
              type="email"
              class="type1__input"
              value="rimel1111@gmail.com"
              name="email"
            />
          </div>
          <div data-aos="fade-up">
            <label for="address">Address</label>
            <input
              type="text"
              class="type1__input"
              value="Kingston, 5236, United State"
              name="address"
            />
          </div>
        </div>

        <div class="password__changes" data-aos="fade-up">
          <label>Password Changes</label>
          <input
            type="password"
            class="type2__input"
            placeholder="Current Password"
            name="address"
          />
          <input
            type="password"
            class="type2__input"
            placeholder="New Password"
            name="address"
          />
          <input
            type="password"
            class="type2__input"
            placeholder="Confirm New Password"
            name="address"
          />
        </div>

        <div class="actions" data-aos="fade-up">
          <div>
            <button class="cursor-pointer">Cancel</button>
            <button class="cursor-pointer">Save Changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
