.wrapper {
  padding: 4em 6em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

.breadcrumb {
  margin-bottom: 4em;
  font-size: 0.9rem;

  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.cart-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 1em 1.3em;
  margin-bottom: 1.5em;

  border-radius: 0.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.cart-header > div:not(:first-child) {
  text-align: center;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.action-buttons > button {
  border: 1px solid black;
  padding: 0.5em 1.5em;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.action-buttons > button:hover {
  border: none;
  color: white;
  background-color: var(--primary-color);
}

.checkout {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}

.coupon > div {
  display: flex;
  gap: 1.2em;
}
.coupon input {
  border: 1px solid black;
  padding: 0.5em 0.65em;
  width: 300px;
  border-radius: 0.2em;
}

.coupon button,
.checkout__btn {
  border: none;
  color: white;
  background-color: var(--primary-color);
  padding: 0.5em 1.5em;
  border-radius: 0.2em;
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.coupon button:hover,
.checkout__btn:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.checkout__summary {
  border: 1px solid black;
  border-radius: 0.2em;
  padding: 1em 1.4em;
}

.checkout__summary > h5 {
  font-size: 1em;
  margin-bottom: 0.3em;
}

.checkout__summary > div:not(div.checkout__total) {
  border-bottom: 1px solid black;
  border-color: gray;
  padding-bottom: 0.7em;
}
.checkout__summary > div {
  display: flex;
  justify-content: space-between;
  gap: 15em;
  margin: 1em 0;
}
.checkout__btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
