<app-header></app-header>
<div class="wrapper">
  <div class="breadcrumb">
    <span class="text-gray-500">Account / </span>
    <span class="text-gray-500">My Account / </span>
    <span class="text-gray-500">Product / </span>
    <span class="text-gray-500">View Cart / </span>
    <span class="font-bold">Checkout</span>
  </div>

  <h1 class="page-header">Billing details</h1>

  <div class="flex">
    <form class="left-column">
      <div>
        <label for="first-name">First Name<span>*</span></label>
        <input type="text" name="first-name" />
      </div>
      <div>
        <label for="company-name">Company Name</label>
        <input type="text" name="company-name" />
      </div>
      <div>
        <label for="street">Street Address<span>*</span></label>
        <input type="text" name="street" />
      </div>
      <div>
        <label for="apartment">Apartment, floor, etc. (optional)</label>
        <input type="text" name="apartment" />
      </div>
      <div>
        <label for="town">Town / City<span>*</span></label>
        <input type="text" name="town" />
      </div>
      <div>
        <label for="phone">Phone Number<span>*</span></label>
        <input type="tel" name="phone" />
      </div>

      <div>
        <label for="email">Email Address <span>*</span></label>
        <input type="email" name="email" />
      </div>

      <p class="save-section">
        <input type="checkbox" class="radio-input" checked />
        <span>Save this information for faster check-out next time</span>
      </p>
    </form>
    <div class="right-column">
      <div class="checkout__items">
        <div class="item">
          <img src="assets/gamepad.svg" alt="A gamepad" />
          <p>
            <span>H1 Gamepad</span>
            <span>$650</span>
          </p>
        </div>
        <div class="item">
          <img src="assets/lcd-tv.svg" alt="Lcd monitor" />
          <p>
            <span>LCD Monitor</span>
            <span>$1100</span>
          </p>
        </div>
      </div>

      <div class="calculations">
        <div>
          <p>
            <span>Subtotal :</span>
            <span>$1750</span>
          </p>
          <p>
            <span>Shipping :</span>
            <span>Free</span>
          </p>
          <p>
            <span>Total :</span>
            <span>$1750</span>
          </p>
        </div>
      </div>

      <div class="payment-type">
        <div>
          <p>
            <input
              type="radio"
              class="cursor-pointe radio-input"
              name="payment-type"
            />
            <span>Bank</span>
          </p>
          <p class="cards">
            <img src="assets/bkash-card.svg" alt="bkash-card" />
            <img src="assets/visa-card.svg" alt="visa-card" />
            <img src="assets/master-card.svg" alt="master-card" />
            <img src="assets/nagad-card.svg" alt="nagard-card" />
          </p>
        </div>
        <div>
          <p>
            <input
              type="radio"
              class="cursor-pointer radio-input"
              name="payment-type"
            />
            <span>Cash on delivery</span>
          </p>
        </div>
      </div>

      <div class="coupon">
        <div>
          <input type="text" placeholder="Coupon Code" />
          <button>Apply Coupon</button>
        </div>
      </div>
      <div class="place__order">
        <button class="place__order__btn">Place Order</button>
      </div>
    </div>
  </div>
</div>
