<div class="border rounded-lg mx-auto p-4 gap-20 flex w-full">
  <div class="basis-4/5 bg-secWhite p-4 rounded-lg">
    <div class="flex justify-between items-center mb-2 text-sm hadd py-2">
      <div class="flex gap-3">
        Order ID <span class="font-semibold">20/b</span>
      </div>
      <div class="flex gap-3">
        Purchased <span class="font-semibold">24 Dec, 2023</span>
      </div>
      <div class="flex gap-3">
        Est Delivery <span class="font-semibold">2 Jan, 2024</span>
      </div>
    </div>
    <div class="flex items-center justify-center gap-4">
      <div class="basis-2/5 h-40">
        <img
          src="path-to-image/z-fold-40.png"
          alt="Z Fold 40 Samsung"
          class="w-24 h-24 object-contain"
        />
      </div>
      <div class="basis-3/5 flex h-40 flex-col justify-between">
        <div class="flex justify-between items-center">
          <h2 class="text-lg font-semibold">Z Fold 40 Samsung</h2>
          <div div class="text-xl font-bold text-gray-800">$600</div>
        </div>
        <div class="flex gap-20 items-center">
          <div class="font-medium flex items-center gap-3 mt-2">
            <div class="">Quantity</div>
            <div class="border border-black py-1 px-3 rounded-lg">1</div>
          </div>
          <div class="font-medium flex items-center gap-3 mt-1">
            <div class="">Color</div>
            <div class="border border-black py-1 px-3 rounded-lg">Purple</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="basis-1/5 flex justify-between items-start">
    <div class="flex gap-2 flex-col w-full h-full">
      <button
        type="button"
        class="bg-secRed text-secWhite px-4 py-2 rounded-lg"
      >
        DISPATCH
      </button>
      <button
        type="button"
        class="border mess border-secRed text-secRed px-4 py-2 rounded-lg"
      >
        MESSAGE BUYER
      </button>
    </div>
  </div>
</div>
